/* GLOBAL STYLES */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size:62.5%;
    --primary-btn-bg:hsl(245, 75%, 52%);
    --main-heading: hsl(223, 47%, 23%);
    --primary-btn-shadow:hsl(225, 100%, 94%);
    --body-bg:hsl(225, 100%, 94%);
    --text-color:hsl(224, 23%, 55%);
    --card-bg:hsl(225, 100%, 98%);
}


body {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:var(--body-bg);
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;

}
/* CARD STYLES */
.card {
    width:35rem;
    display:flex;
    flex-direction:column;
    border-radius:2rem;
    background-color:var(--card-bg);
}
/* MAIN IMAGE STYLES */
.card img {
    border-radius: 2rem 2rem  0 0;
}
/* MAIN TEXT STYLES */
h1 {
    margin:2rem 0 1rem 0;
    text-align:center;
    font-size:2.6rem;
    color:var(--main-heading);
    font-weight:900;
}

p {
    font-size:1.6rem;
    color:var(--text-color);
    font-weight:500;
}
.main-paragraph {
    text-align:center;
    padding:0 7rem;
}
/* PLAN STYLES */
.plan {
    margin: 2rem;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background-color:hsla(224, 23%, 55%, 0.05);
    border-radius:1rem;
    padding:1.5rem;
}

.annual-plan-container {
    display:flex;
    align-items:center;
}

.annual-plan-container img {
    margin-right:1rem;
}

a {
    font-size:1.6rem;
    font-weight:500;
}

a:hover {
    cursor:pointer;
}

/*BUTTON STYLES  */
.btn {
    padding:1rem;
    border-radius:1rem;
    border:none;
    margin:0 2rem;
    font-weight:500;
    font-size:1.6rem;
}

.btn:hover {
    cursor:pointer;
}

.primary-btn {
    margin-bottom:2rem;
    background-color:hsl(245, 75%, 52%);
    color:hsl(225, 100%, 94%);
    box-shadow:0px 9px 4px 4px var(--primary-btn-shadow);
}

.secondary-btn {
    background-color:transparent;
    margin-bottom:2rem;
    color:var(--main-heading);
    font-weight:700;
    color:var(--text-color);
}

.secondary-btn:hover {
    text-decoration:underline;
}
/* MOBILE STYLES */
@media only screen and  (max-width:375) {
    html {
        font-size:60%;
    }

    .card {
        width:80%;
    }
}